{{template "base" .}}
{{define "title"}}Create new Post{{end}}

{{define "body"}}
{{if .AuthenticatedUser}}
<div id=info>Wypełnij poniższe pola aby dodać ogłoszenie</div>
<div id=widePanel3>
    <form action="/post/create" method="post">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
        {{with .Errors.Get "generic"}}
                <div class="error">{{.}}</div>
            {{end}}

            <!-- <label for="">Typ:</label> -->
                
                {{$exp := or (.Get "type") "seek"}}
        <div class="form-check form-check-inline">
                
                <input class="form-check-input" type="radio" name="type" id="choice1" value="seek" checked {{if (eq $exp "seek")}}checked{{end}}>
                <label class="form-check-label" for="choice1">
                    Szukam pomocy
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="choice2" value="offer" {{if (eq $exp "offer")}}checked{{end}}>
                <label class="form-check-label" for="choice2">
                    Oferuję pomoc
                </label>
        </div>
        {{with .Errors.Get "title"}}
                    <label class="error">{{.}}</label>
        {{end}}    
        
        <div class="form-group" method="post">
            <label for="exampleTitle">Tytuł</label>
            {{with .Errors.Get "title"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input name="title" type="text" class="form-control" id="exampleTitle" aria-describedby="emailHelp" placeholder="Podaj tytuł ogłoszenia" value='{{.Get "title"}}'>
        <div class="form-group">
            <label for="exampleContent">Treść</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content" class="form-control" id="exampleContent" rows="3" placeholder="Podaj treść ogłoszenia" value='{{.Get "content"}}'></textarea>
        </div>


        <button type="submit" class="btn btn-dark">Dodaj</button>
        {{end}}
    </form>
</div>
{{else}}
    <div id=info>Drogi użytkowniku, najpierw się zaloguj!</div>
    

{{end}}
{{end}}