{{template "base" .}} {{define "title"}}Home{{ end }}
{{define "body"}}
<!-- <h2>Latest Posts</h2> -->
{{if .Posts}}
<div id=info>Lista ogłoszeń</div>
<div id=widePanel3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Typ</th>
                <th scope="col">Tytuł</th>
                <th scope="col">ID</th>
            </tr>
        </thead>

        <tbody>
            {{range.Posts}}
            <tr>
                <td>
                    {{if (eq .Type "seek")}}
                        Szukam 
                    {{else}}
                        Oferuję
                    {{end}}
                </td>
                
                <td><a href="/post/{{.ID}}">{{.Title}}</a></td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{else}}
<div id=info>Brak ogłoszeń</div>

{{ end }}
{{ end }}
