{{template "base" .}} 
{{define "title"}}Post #{{.Post.ID}}{{ end }}
{{define "body"}}
{{ with.Post }}

<div id=widePanel>
  <br>
  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Typ</th>
            <th scope="col">Tytuł</th>
            <th scope="col">ID</th>
        </tr>
    </thead>

    <tbody>
        
        <tr>
            <td>
                {{if (eq .Type "seek")}}
                    Szukam 
                {{else}}
                    Oferuję
                {{end}}
            </td>
            
            <td>{{.Title}}</td>
            <td>#{{.ID}}</td>
        </tr>
        <tr>
          <td colspan="3"><b>Treść:</b> {{.Content}}</td>
        </tr>
        {{end}}
        <tr>
          <td colspan="3">
            <a href="/user/{{.User.ID}}">Stworzone przez: {{.User.Nick}}</a>
          </td>
        </tr>
        
    </tbody>
</table>

</div>

{{ end }}
