{{template "base" .}}
{{define "title"}}Signup{{end}}

{{define "body"}}
<div id=info>Rejestracja</div>
	<div id=widePanel2>
    <form action="/user/signup" method="POST" novalidate>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <!-- <div>
                <label>Name:</label>
                {{with .Errors.Get "name"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="text" name="name" value='{{.Get "name"}}'>
            </div>
            <div>
                <label>Surname:</label>
                {{with .Errors.Get "surname"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="text" name="surname" value='{{.Get "surname"}}'>
            </div> -->

            <div class="form-group">			
                <label for="exampleInputLogin1">Login</label>
                {{with .Errors.Get "nick"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="text" name="nick" class="form-control" id="exampleInputLogin1" placeholder="Podaj login" value='{{.Get "nick"}}'>
            </div> 

            <div class="form-group" method="post">
                <label for="exampleInputEmail1">Email</label>
                {{with .Errors.Get "email"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Podaj adres email" value='{{.Get "email"}}'>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Hasło</label>
                {{with .Errors.Get "password"}}
                    <label class="error">{{.}}</label>
                {{end}}
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Podaj hasło" value='{{.Get "password"}}'>
            </div>
            
            <button type="submit" class="btn btn-dark">Zarejestruj</button>
        {{end}}
    </form>
    </div>
{{end}}

