
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Regular.ttf') @ttf;
}

body{
	font-family:'Roboto', sans-serif;
	/* background-color:red; */
	height:100%;
	width:100%;
}

nav{
	/* background-color:yellow; */
	border-style: solid;
	border-width:0 0  2px 0;
	height:5em;
	width:95%;
	margin-left:2.5%;
	margin-top:0.5%;
	padding-left:5%;
	padding-right:5%;	
}

#logo{
	/* background-color:green;	*/
	background-image:url('../img/logox.png');
	background-repeat:no-repeat;
	background-size: contain;	
	width:20em;	
	height:100%;	
	display:block;
	float:left;
}
#loginbox{
	height:100%;
	width:30%;
	float:right;
	
	
}
#login{
	/* background-color:purple; */
	height:100%;
	width:40%;
	
	float:left;
	display:inline-block;
	
	line-height:500%;	
	text-align:center;
	
	
}

#signup{
	
	height:100%;
	width:40%;
	
	float:left;
	display:inline-block;
	
	line-height:500%;	
	text-align:center;
	
	
	
}

#login:hover, #signup:hover, #loginIcon:hover{
	background-color:#696969;
	color:#ffbf30;
	
	
}
#logo:hover{
	opacity:0.5;
	
}
#loginIcon{
	height:100%;
	float:right;
	margin-right:3%;	
}

#main{
	background-color:white;
	height:900px;
	width:100%;
	padding-top:1%;
	/* margin:auto; */
}
#info{
	height:5%;
	margin-bottom:4%;
	/* background-color:green; */
	font-size: 3em;
	text-align:center;
	
	
	
}
#leftPanel, #rightPanel{
	
	background-color:white;
	height:650px;
	width:650px;
	margin-left: calc((100% - 1300px)/ 3);
	float:left;
	
}
#widePanel{
	background-color:white;
	height:100%;
	width:100%;
	float:left;
	padding-left:10%;
	
	/* margin-top:5%; */
	
}
#leftPanel:hover, #rightPanel:hover{
	
	-webkit-box-shadow: -14px 13px 25px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -14px 13px 25px -2px rgba(0,0,0,0.75);
	box-shadow: -14px 13px 25px -2px rgba(0,0,0,0.75);
	
}
#leftPanel{
	background-image:url('../img/lupa.jpg'); 
	background-position:auto;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:40%;
	position:relative;
	
}
#leftPanel-content{
	
	position:absolute;
	bottom:0;
	left:0;
	background-color:white;
	opacity:0.5;
	
}

#rightPanel{
	
	background-image:url('../img/fillin-it-up-n.jpg'); 
	background-position:auto;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:80%;
	position:relative;
}
#rightPanel-content{
	position:absolute;
	bottom:0;
	left:0;
	background-color:white;
	opacity:0.5;
}


footer{
	background-color:black;
	width:100%;
	height:3em;
	float:left;
}